<div class="container py-4">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{especialista.nombre}} {{especialista.apellido}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{especialista.nombreEspecialidad}}</h6>
        <p class="card-text"><small class="text-muted">ID: {{especialista.id}}</small></p>
        <p class="card-text">Por turnos comunicarse al teléfono 223 5806390 de Lun a Vie 8 a 20 hs. y Sab 8 a 12 hs.</p>
    </div>
    </div>
</div>
